
h1 {
	text-align: center;
}

#article-1 {
	background-color: yellow;
	font-family: Georgia, Serif, "Times New Roman";
	font-size: small;
	border: 10px solid lightgrey;
}

#article-2 {
	background-color: blue;
	font-family: "Lucida Console","Gill Sans Extrabold", sans-serif;
	font-size: medium;
	border-style: dotted;
}

#article-3 {
	background-color: orange;
	font-family: fantasy;
	font-size: x-small;
	border-radius: 15px;
}

#article-4 {
	background-color: purple;
	font-family: monospace;
	font-size: large;
	text-align: center;
	overflow-wrap: center;
	padding: 1% 20% 0 20%;
	border-radius: 50%;
	width: 50%;
	}

#article-5 {
	background-color: brown;
	font-family: cursive;
	font-size: x-large;
}

.sectionA {
	line-height: 100%;
}

/*.section1 {
	line-height: 200%;
}*/

footer.big {
	line-height: 300%;
}

section {
	padding: 10px 0 40px;
}
